<h2><%= @recipe.title %> <a href="/recipes/<%= @recipe.id %>/edit">(edit)</a></h2>


<article>

  <img class='img' src="<%= @recipe.img_url %>">
  <p>Description: <%= @recipe.description %></p>
  <p>Directions: <%= @recipe.directions %></p>
  <p>Bake time: <%= @recipe.bake_time %></p>
  <p>Baking method: <%= @recipe.baking_method %></p>
  <p>Serving size: <%= @recipe.serving_size %></p>
</article>


<div class="ingredients">
    <h3>Ingredients</h3>
    <!-- <h2><a href="/ingredients/<%= @ingredient %>/edit">(edit)</a></h2> -->
    <%= link_to "Add new ingredients", new_recipe_ingredient_path(@recipe) %>

    <% @recipe.ingredients.each do |ingredient| %>
      <%= link_to "Edit", edit_recipe_ingredient_path(@recipe, ingredient) %> |
          <%= link_to "Delete", recipe_ingredient_path(@recipe, ingredient), method: :delete %>
      <div>
        <p><%= ingredient.amount %></p>
        <p><%= ingredient.measurement %></p>
        <p><%= ingredient.item %></p>

      </div>
    <% end %>
</div>
