<h2><%= @recipe.title %> <a href="/ingredients/<%= @ingredient.id %>/edit">(edit)</a></h2>

<section>
  <p>Amount: <%= @ingredient.amount %></p>
  <p>Measurement: <%= @ingredient.measurement %></p>
  <p>Item: <%= @ingredient.item %></p>

</section>
